body {
    background-color: black;
    margin: 0;
}

#heading {
    position: fixed;
    width: 100%;
    padding: 32px;
}

.border {
    background: linear-gradient(90deg, gray, 90%, black);
    height: 2px;
    width: 80vw;
    margin-top: 4px;
}

h1 {
    color: rgb(215, 215, 215);
    font-family: var(--font-family-text);
    font-size: 55px;
    font-weight: 500;
    margin: 0px;
}

#progress-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
#progress {
    font-family: var(--font-family-text);
    font-size: 32px;
    color: white;
}

#progress-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}

#progress-bar {
    width: 300px;
    height: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
}

#progress-bar::after {
    content: '';
    display: block;
    height: 100%;
    width: 0;
    background-color: #00ff00;
    border-radius: 10px;
}

#progress-text {
    font-size: 16px;
} */


#progress-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}

#progress-bar {
    width: 300px;
    height: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

#progress-fill {
    height: 100%;
    width: 0;
    background-color: #00ff00;
    border-radius: 10px;
    transition: width 0.3s ease;
    /* Додаємо плавну анімацію */
}

#progress-text {
    font-size: 16px;
    margin-top: 10px;
}