.phone-screen__title-door {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: var(--font-family-text);
    font-weight: 500;
    padding-top: 10px;
    color: #ffffff;
}

.page__door {
    z-index: -1;
}

.button-container__door {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
}

.button-container__icon-door:nth-child(1),
.button-container__icon-door:nth-child(6) {
    grid-column: span 2;
    margin-left: 13%;
}

.button-container__icon-door {
    width: 95px;
    text-align: center;
    margin: 5px;
}

.doorFL,
.doorFR,
.doorRL,
.doorRR,
.doorLC,
.doorH {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #BFBFBF;
}

.doorFL {
    background-image: url('../img/door-page/doorFL.png');
}

.doorFR {
    background-image: url('../img/door-page/doorFR.png');
}

.doorRL {
    background-image: url('../img/door-page/doorRL.png');
}

.doorRR {
    background-image: url('../img/door-page/doorRR.png');
}

.doorLC {
    background-image: url('../img/door-page/LC.png');
}

.doorH {
    background-image: url('../img/door-page/Hood.png');
}

.button-icon__door-page {
    width: 95px;
    height: 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #BFBFBF;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.7s ease, box-shadow 0.7s ease, border 0.7s ease;
    overflow: hidden;
}

.doorFL,
.doorRR {
    background-position: 30% center;
    transition: background-size 0.7s ease, background-position 0.7s ease, border 0.7s ease;
}

.doorFR,
.doorRL {
    background-position: 80% center;
    transition: background-size 0.7s ease, background-position 0.7s ease, border 0.7s ease;
}

.doorLC {
    background-position: center;
    transition: background-size 0.7s ease, background-position 0.7s ease, border 0.7s ease;
}

.doorH {
    background-position: center;
    transition: background-size 0.7s ease, background-position 0.7s ease, border 0.7s ease;
}

.doorFL:hover,
.doorFR:hover,
.doorRL:hover,
.doorRR:hover,
.doorLC:hover,
.doorH:hover {
    background-size: 250% auto;
    border: 2px solid #000000;
}

.doorFL:hover {
    background-position: 35% center;
}

.doorRR:hover {
    background-position: 25% center;
}

.doorFR:hover {
    background-position: 65% center;
}

.doorRL:hover {
    background-position: 75% center;
}

.doorLC:hover {
    background-position: center 0%;
}

.doorH:hover {
    background-position: center 95%;
}

.doorLC,
.doorH {
    width: 170px;
    height: 110px;
    background-size: 60% auto;
    background-color: #A09D90;
}