.front-left,
.front-right,
.rear-left,
.rear-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000000;
    padding-bottom: 5px;
    z-index: 112212;
}

.tesla-window__image {
    position: relative;
    z-index: 1;
    margin: 120px 0 0 2px;
    transform: rotate(180deg) scale(0.77);
}

.tesla-window__door {
    position: fixed;
    z-index: 12212112;
    width: 90px;
    height: 95px;
}

.front-left {
    top: 125px;
    left: 10px;
    border-radius: 7px 7px 30% 7px;
}

.front-right {
    top: 125px;
    left: 166px;
    border-radius: 7px 7px 7px 30%;
}

.rear-left {
    top: 415px;
    left: 10px;
    border-radius: 7px 30% 7px 7px;
}

.rear-right {
    top: 415px;
    left: 166px;
    border-radius: 30% 7px 7px 7px;
}

.tesla-window__door-title-text {
    font-size: 12px;
    font-weight: 600;
    font-family: var(--font-family-text);
    color: #333333;
    padding: 0 3px 7px 3px;
    background-color: rgb(255, 252, 243);
}

.tesla-window__paragraph-text {
    font-size: 10px;
    font-weight: 500;
    font-family: var(--font-family-text);
    color: #333333;
}

.tesla-window__door-open {
    margin-top: 5px;
}

.tesla-window__open-button {
    background-color: #333333;
}

.tesla-window__calibrate-button {
    background-color: #494949;
}

.tesla-window__open-button,
.tesla-window__calibrate-button {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-family: var(--font-family-text);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 3px 0;
}

.tesla-window__open-button:hover,
.tesla-window__calibrate-button:hover {
    background-color: #000000;
    transform: scale(1.02);
}

.outer-circle {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 6px;
    height: 6px;
    background-color: #333333;
    border-radius: 50%;
}

.circle-front-left {
    position: fixed;
    top: 300px;
    left: 71px;
}

.circle-front-right {
    position: fixed;
    top: 300px;
}

.circle-rear-left {
    position: fixed;
    top: 345px;
    left: 71px;
}

.circle-rear-right {
    position: fixed;
    top: 345px;
}

.outer-circle {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.outer-circle.show {
    opacity: 1;
    visibility: visible;
    animation: borderChange 0.7s infinite alternate;
}

.inner-circle {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.inner-circle.show {
    opacity: 1;
    visibility: visible;
    animation: colorChange 0.7s infinite alternate;
}

@keyframes colorChange {
    from {
        background-color: rgb(255, 0, 0);
    }

    to {
        background-color: #333333;
    }
}

@keyframes borderChange {
    from {
        border: 1px solid rgb(255, 0, 0);
    }

    to {
        border: 1px solid #333333;
    }
}

.arc-tesla {
    position: fixed;
    z-index: -21;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tesla-window__door:hover .arc-tesla {
    opacity: 1;
}

.arc-front-left {
    top: 123px;
    left: -120px;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(244deg);
}

.arc-front-right {
    top: 123px;
    left: 86px;
    transform: rotateY(180deg) rotateX(0deg) rotateZ(244deg);
}

.arc-rear-left {
    top: 362px;
    left: -120px;
    transform: rotateY(0deg) rotateX(180deg) rotateZ(244deg);
}

.arc-rear-right {
    top: 362px;
    left: 86px;
    transform: rotateY(180deg) rotateX(180deg) rotateZ(244deg);
}